@import '../../styles/mixins.scss';

.personItem {
  box-shadow: -1px 2px 40px -14px rgba(0,0,0,0.75);
  text-align: left;

  @include on-desktop {
    @include hover(transform, scale(1.05));
  }
}

.personLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  padding-bottom: 1rem;
}

.personTitle {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding-inline: .2rem;

  @include on-tablet {
    font-size: 1rem;
  }

  @include on-desktop {
    font-size: 1.2rem;
  }
}